# https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitattributes.html

.github                export-ignore
/art                   export-ignore
/tests                 export-ignore
docker-compose.yml     export-ignore
.gitattributes         export-ignore
phpstan.neon           export-ignore
phpunit.mysql.xml      export-ignore
phpunit.pgsql.xml      export-ignore
phpunit.xml            export-ignore
pint.json              export-ignore
postcss.config.js      export-ignore
webpack.mix.js         export-ignore
.bladeformatterrc.json export-ignore
