includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 9

    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9\\_]#'
    excludePaths:
        - './src/Plugins/Export/OpenSpout/*'
        - './src/Themes/Theme.php'
        - './src/Testing/TestActions.php'

    treatPhpDocTypesAsCertain: false
