includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 9

    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9\\_]#'
        - '#Variable \$title might not be defined.#'
        - '#^Method .*::fromLivewire\(\) has no return type specified\.#'
        - '#^Method .*::fromLivewire\(\) has parameter \$value with no type specified\.#'
    excludePaths:
        - './src/Components/Exports/OpenSpout/*'
        - './src/Themes/Theme.php'
        - './src/Testing/TestActions.php'

    treatPhpDocTypesAsCertain: false
