includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Cannot call method [a-zA-Z0-9\\_]#'
        - '#Variable \$title might not be defined.#'
        - '~^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$~'
        - '~^Parameter #1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given\.$~'
        - '#^Method .*::fromLivewire\(\) has no return type specified\.#'
        - '#^Method .*::fromLivewire\(\) has parameter \$value with no type specified\.#'
        - '#Call to an undefined method PowerComponents\\LivewirePowerGrid\\PowerGridComponent::datasource\(\).#'
        -
            message: "#^Unable to resolve the template type TKey in call to function collect$#"
            count: 1
            path: src/Support/PowerGridTableCache.php

        -
            message: "#^Unable to resolve the template type TValue in call to function collect$#"
            count: 1
            path: src/Support/PowerGridTableCache.php

    paths:
        - src

    level: max

    excludePaths:
        - './src/Components/Exports/OpenSpout/*'
        - './src/Components/Actions/Macros.php'
        - './src/Helpers/Actions.php'
        - './src/Livewire/PerformanceCard.php'
        - './src/Recorders/PowerGridPerformanceRecorder.php'
