<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <server name="APP_ENV" value="testing"/>
    <server name="DB_DRIVER" value="sqlite"/>
    <server name="DB_HOST" value=""/>
    <server name="DB_PORT" value="0"/>
    <server name="DB_USERNAME" value=""/>
    <server name="DB_PASSWORD" value=""/>
    <server name="DB_DATABASE" value=":memory:"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
