[x-cloak] {
    display: none;
}

table {
    width: 100%;
}

select {
    background-color: inherit;
}

.loader {
    border-top-color: #222;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

table thead {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: .75rem;
    color: #6b6a6a;
    padding-top: 8px;
    padding-bottom: 8px
}

.pg-actions {
    display: flex;
    gap: 4px;
    width: 100%;
}

.pg-actions a {
  display: inline-block;
}

