[x-cloak] {
    display: none;
}

table {
    width: 100%;
}

table thead {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: .75rem;
    color: #6b6a6a;
    padding-top: 8px;
    padding-bottom: 8px
}
