[x-ref="editable"].pg-single-line {
    white-space: nowrap;
    overflow: hidden;
}

[x-ref="editable"].pg-single-line br {
    display:none;

}

[x-ref="editable"].pg-single-line * {
    display:inline;
    white-space:nowrap;
}

[x-ref="editable"][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}
