[x-cloak] {
    display: none;
}

table {
    width: 100%;
}

.power-grid-table input, select, .bootstrap-select, .dropdown-menu {
    font-size: 0.85rem !important;
}

.btn-light {
    color: #000;
    background-color: white;
    border-color: #d7dbdf;
    font-size: 0.85rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white !important;
    opacity: 1;
}

.btn-light:hover {
    color: #000;
    background-color: white;
    border-color: #d7dbdf;
    font-size: 0.85rem;
}

.btn-light, .has-search .form-control {
    padding-left: 10px !important;
}

.table .checkbox-column {
    width: 50px !important;
    max-width: 50px !important;
    text-align: center
}

.accordion-button {
    padding: .7rem .7rem
}

.btn-light, .has-search .form-control {
    padding-left: 2.375rem
}

.page-link {
    @apply block bg-white text-blue-800 border-r border-gray-200 outline-none py-2 w-12 text-sm text-center
}

.page-link:last-child {
    @apply border-0
}

.page-link:hover {
    @apply bg-blue-700 text-white border-blue-700
}

.page-item.active .page-link {
    @apply bg-blue-700 text-white border-blue-700
}

.page-item.disabled .page-link {
    @apply bg-white text-gray-300 border-gray-200
}

.page-link {
    color: gray !important
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: gray;
    border-color: gray
}

.loader {
    border-top-color: #222;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}


table thead {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: .75rem;
    color: #6b6a6a;
    padding-top: 8px;
    padding-bottom: 8px
}

.dropdown-toggle {
    background: #fff !important;
    padding-left: 10px !important;
    color: #7a7e82 !important
}

select, .power_grid {
    opacity: 1 !important;
    font-size: 0.85rem !important;
    padding-left: 10px !important;
}

.badge {
    font-size: 0.77em;
}

.form-control, .btn {
    box-shadow: none!important;
}

.dropdown-toggle, .dropdown-item {
    padding-left: 15px;
    font-size: 0.85rem;
    color: #454444;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
}

.bootstrap-select {
    padding-left: 0 !important;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
    border-color: #ced4da !important;
}

[x-ref="editable"].pg-single-line {
    white-space: nowrap;
    overflow: hidden;
}
[x-ref="editable"].pg-single-line br {
    display:none;

}
[x-ref="editable"].pg-single-line * {
    display:inline;
    white-space:nowrap;
}

[x-ref="editable"][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.power-grid-button {
    width: 100%;
}
