[x-cloak] {
    display: none;
}

table {
    width: 100%;
}

.btn-light {
    color: #000;
    background-color: white;
    border-color: #d7dbdf;
    font-size: 0.85rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white !important;
    opacity: 1;
}

.btn-light:hover {
    color: #000;
    background-color: white;
    border-color: #d7dbdf;
    font-size: 0.85rem;
}

.btn-light, .has-search .form-control {
    padding-left: 10px !important;
}

.table .checkbox-column {
    width: 50px !important;
    max-width: 50px !important;
    text-align: center
}

.accordion-button {
    padding: .7rem .7rem
}

.btn-light, .has-search .form-control {
    padding-left: 2.375rem
}

.page-link {
    @apply block bg-white text-pg-secondary-800 border-r border-gray-200 outline-none py-2 w-12 text-sm text-center
}

.page-link:last-child {
    @apply border-0
}

.page-link:hover {
    @apply bg-pg-secondary-700 text-white border-pg-secondary-700
}

.page-item.active .page-link {
    @apply bg-pg-secondary-700 text-white border-pg-secondary-700
}

.page-item.disabled .page-link {
    @apply bg-white text-gray-300 border-gray-200
}

.page-link {
    color: gray !important
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: gray;
    border-color: gray
}

.loader {
    border-top-color: #222;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

table thead {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: .75rem;
    color: #6b6a6a;
    padding-top: 8px;
    padding-bottom: 8px
}

.badge {
    font-size: 0.77em;
}

.form-control, .btn {
    box-shadow: none!important;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
    border-color: #ced4da !important;
}

[x-ref="editable"].pg-single-line {
    white-space: nowrap;
    overflow: hidden;
}
[x-ref="editable"].pg-single-line br {
    display:none;

}
[x-ref="editable"].pg-single-line * {
    display:inline;
    white-space:nowrap;
}

[x-ref="editable"][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.power-grid-button {
    width: 100%;
}

.pg-btn-white {
    @apply outline-none inline-flex justify-center items-center focus:ring-1 focus:ring-offset-1 bg-white
    hover:shadow-sm disabled:opacity-80 disabled:cursor-not-allowed rounded-lg gap-x-2 text-sm px-3 py-2 border border-pg-primary-300
    text-pg-primary-500 hover:bg-pg-primary-100 ring-pg-primary-200
}

.bs5-rotate-0 {
    transition: all 0.3s ease;
    transform: rotate(0deg);
}
.bs5-rotate-90 {
    transition: all 0.3s ease;
    transform: rotate(90deg);
}
.bs5-w-h-1_5em {
    width: 1.5em;
    height: 1.5em;
}

.pg-actions {
    @apply flex gap-2 w-full
}

.pg-filter-container {
    @apply py-3;
}

select {
    background-image:  unset !important;
}

.pg-enabled-filters-base {
    @apply flex items-center gap-2 mt-2 md:mt-0 flex-wrap
}
